@media (min-width: 1400px)
    .container
        padding: 0 calc(50vw - 690px)
@media (max-width: 1400px)
    .container
        padding: 0 calc(50vw - 480px)
@media (max-width: 1024px)
    .container
        padding: 0 calc(50vw - 380px)
@media (max-width: 800px)
    .container
        padding: 0 calc(50vw - 280px)
@media (max-width: 610px)
    .container
        padding: 0 calc(50vw - 220px)
@media (max-width: 460px)
    .container
        padding: 0 calc(50vw - 140px)
