@font-face {
  font-family: 'Neusa';
  src: url('../fonts/Neusa-Regular.eot');
  src: url('../fonts/Neusa-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Neusa-Regular.woff2') format('woff2'),
      url('../fonts/Neusa-Regular.woff') format('woff'),
      url('../fonts/Neusa-Regular.ttf') format('truetype'),
      url('../fonts/Neusa-Regular.svg#Neusa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apex';
  src: url('../fonts/mr_ApexMk3-ExtraLight.eot');
  src: url('../fonts/mr_ApexMk3-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mr_ApexMk3-ExtraLight.woff2') format('woff2'),
      url('../fonts/mr_ApexMk3-ExtraLight.woff') format('woff'),
      url('../fonts/mr_ApexMk3-ExtraLight.ttf') format('truetype'),
      url('../fonts/mr_ApexMk3-ExtraLight.svg#mr_ApexMk3-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face{font-family:'Montserrat';src:url("../fonts/Montserrat.eot");src:local("☺"),url("../fonts/Montserrat.woff") format("woff"),url("../fonts/Montserrat.ttf") format("truetype"),url("../fonts/Montserrat.svg") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'Furore';src:url("../fonts/furore.eot");src:local("☺"),url("../fonts/furore.woff") format("woff"),url("../fonts/furore.ttf") format("truetype"),url("../fonts/furore.svg") format("svg");font-weight:normal;font-style:normal}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.eot');
  src:  url('../fonts/Montserrat.woff2') format('woff2'),
      url('../fonts/Montserrat.woff') format('woff'),
      url('../fonts/Montserrat.ttf') format('truetype'),
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Neon';
  src: url('../fonts/AANeon.eot');
  src: url('../fonts/AANeon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AANeon.woff2') format('woff2'),
      url('../fonts/AANeon.woff') format('woff'),
      url('../fonts/AANeon.ttf') format('truetype'),
      url('../fonts/AANeon.svg#AANeon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corinthia';
  src: url('../fonts/Corinthia.eot');
  src: url('../fonts/Corinthia.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Corinthia.woff2') format('woff2'),
      url('../fonts/Corinthia.woff') format('woff'),
      url('../fonts/Corinthia.ttf') format('truetype'),
      url('../fonts/Corinthia.svg#Corinthia') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avante';
  src: url('../fonts/a_AvanteTitulInline.eot');
  src: url('../fonts/a_AvanteTitulInline.eot?#iefix') format('embedded-opentype'),
      url('../fonts/a_AvanteTitulInline.woff2') format('woff2'),
      url('../fonts/a_AvanteTitulInline.woff') format('woff'),
      url('../fonts/a_AvanteTitulInline.ttf') format('truetype'),
      url('../fonts/a_AvanteTitulInline.svg#a_AvanteTitulInline') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lamon';
  src: url('../fonts/ALSLamon-Regular.eot');
  src: url('../fonts/ALSLamon-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ALSLamon-Regular.woff2') format('woff2'),
      url('../fonts/ALSLamon-Regular.woff') format('woff'),
      url('../fonts/ALSLamon-Regular.ttf') format('truetype'),
      url('../fonts/ALSLamon-Regular.svg#ALSLamon-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Volga';
  src: url('../fonts/ALSIvolga.eot');
  src: url('../fonts/ALSIvolga.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ALSIvolga.woff2') format('woff2'),
      url('../fonts/ALSIvolga.woff') format('woff'),
      url('../fonts/ALSIvolga.ttf') format('truetype'),
      url('../fonts/ALSIvolga.svg#ALSIvolga') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gardens';
  src: url('../fonts/CM_GARDEN_R.eot');
  src: url('../fonts/CM_GARDEN_R.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CM_GARDEN_R.woff2') format('woff2'),
      url('../fonts/CM_GARDEN_R.woff') format('woff'),
      url('../fonts/CM_GARDEN_R.ttf') format('truetype'),
      url('../fonts/CM_GARDEN_R.svg#CM_GARDEN_R') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alcotton';
  src: url('../fonts/Alcotton.eot');
  src: url('../fonts/Alcotton.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Alcotton.woff2') format('woff2'),
      url('../fonts/Alcotton.woff') format('woff'),
      url('../fonts/Alcotton.ttf') format('truetype'),
      url('../fonts/Alcotton.svg#Alcotton') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.eot');
  src: url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MullerLight.woff2') format('woff2'),
      url('../fonts/MullerLight.woff') format('woff'),
      url('../fonts/MullerLight.ttf') format('truetype'),
      url('../fonts/MullerLight.svg#MullerLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scripticus';
  src: url('../fonts/ALSScripticus.eot');
  src: url('../fonts/ALSScripticus.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ALSScripticus.woff2') format('woff2'),
      url('../fonts/ALSScripticus.woff') format('woff'),
      url('../fonts/ALSScripticus.ttf') format('truetype'),
      url('../fonts/ALSScripticus.svg#ALSScripticus') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hamiltone';
  src: url('../fonts/mr_HamiltoneG.eot');
  src: url('../fonts/mr_HamiltoneG.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mr_HamiltoneG.woff2') format('woff2'),
      url('../fonts/mr_HamiltoneG.woff') format('woff'),
      url('../fonts/mr_HamiltoneG.ttf') format('truetype'),
      url('../fonts/mr_HamiltoneG.svg#mr_HamiltoneG') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Barcelony';
  src: url('../fonts/BarcelonyRegular.woff2') format('woff2'),
      url('../fonts/BarcelonyRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garden';
  src: url('../fonts/CM_GARDEN_R.woff2') format('woff2'),
      url('../fonts/CM_GARDEN_R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bayshore';
  src: url('../fonts/Bayshore.woff2') format('woff2'),
      url('../fonts/Bayshore.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kiona';
  src: url('../fonts/Kiona-Regular.woff2') format('woff2'),
      url('../fonts/Kiona-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neusa';
  src: url('../fonts/Neusa-Regular.woff2') format('woff2'),
      url('../fonts/Neusa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meritocracy';
  src: url('../fonts/Meritocracy-Regular.woff2') format('woff2'),
      url('../fonts/Meritocracy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avante';
  src: url('../fonts/a_AvanteTitulInline.eot');
  src: url('../fonts/a_AvanteTitulInline.eot?#iefix') format('embedded-opentype'),
      url('../fonts/a_AvanteTitulInline.woff2') format('woff2'),
      url('../fonts/a_AvanteTitulInline.woff') format('woff'),
      url('../fonts/a_AvanteTitulInline.ttf') format('truetype'),
      url('../fonts/a_AvanteTitulInline.svg#a_AvanteTitulInline') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barcelony';
  src: url('../fonts/BarcelonyRegular.eot');
  src: url('../fonts/BarcelonyRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BarcelonyRegular.woff2') format('woff2'),
      url('../fonts/BarcelonyRegular.woff') format('woff'),
      url('../fonts/BarcelonyRegular.ttf') format('truetype'),
      url('../fonts/BarcelonyRegular.svg#BarcelonyRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gardens';
  src: url('../fonts/CM_GARDEN_R.eot');
  src: url('../fonts/CM_GARDEN_R.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CM_GARDEN_R.woff2') format('woff2'),
      url('../fonts/CM_GARDEN_R.woff') format('woff'),
      url('../fonts/CM_GARDEN_R.ttf') format('truetype'),
      url('../fonts/CM_GARDEN_R.svg#CM_GARDEN_R') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bayshore';
  src: url('../fonts/Bayshore.eot');
  src: url('../fonts/Bayshore.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Bayshore.woff2') format('woff2'),
      url('../fonts/Bayshore.woff') format('woff'),
      url('../fonts/Bayshore.ttf') format('truetype'),
      url('../fonts/Bayshore.svg#Bayshore') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kiona';
  src: url('../fonts/Kiona-Regular.eot');
  src: url('../fonts/Kiona-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Kiona-Regular.woff2') format('woff2'),
      url('../fonts/Kiona-Regular.woff') format('woff'),
      url('../fonts/Kiona-Regular.ttf') format('truetype'),
      url('../fonts/Kiona-Regular.svg#Kiona-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Beloved Script';
  src: url('../fonts/BelovedScript.eot');
  src: url('../fonts/BelovedScript.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BelovedScript.woff2') format('woff2'),
      url('../fonts/BelovedScript.woff') format('woff'),
      url('../fonts/BelovedScript.ttf') format('truetype'),
      url('../fonts/BelovedScript.svg#BelovedScript') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neusa';
  src: url('../fonts/Neusa-Regular.eot');
  src: url('../fonts/Neusa-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Neusa-Regular.woff2') format('woff2'),
      url('../fonts/Neusa-Regular.woff') format('woff'),
      url('../fonts/Neusa-Regular.ttf') format('truetype'),
      url('../fonts/Neusa-Regular.svg#Neusa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sebastrian';
  src: url('../fonts/SebastrianScript.eot');
  src: url('../fonts/SebastrianScript.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SebastrianScript.woff2') format('woff2'),
      url('../fonts/SebastrianScript.woff') format('woff'),
      url('../fonts/SebastrianScript.ttf') format('truetype'),
      url('../fonts/SebastrianScript.svg#SebastrianScript') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meritocracy';
  src: url('../fonts/Meritocracy-Regular.eot');
  src: url('../fonts/Meritocracy-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Meritocracy-Regular.woff2') format('woff2'),
      url('../fonts/Meritocracy-Regular.woff') format('woff'),
      url('../fonts/Meritocracy-Regular.ttf') format('truetype'),
      url('../fonts/Meritocracy-Regular.svg#Meritocracy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

