$black: #000
$border-color: #fff
$white: #fff

body
    background: $black

.constructor
    font-family: 'Montserrat'
    margin: 0 auto
    width: 800px
    color: #fff
    &__title
        font-size: 26px
        font-family: 'Furore'
        text-align: center
    &__subtitle
        font-size: 18px
    &__wrapper
        margin-top: 50px
        display: flex
        justify-content: space-between
        height: 500px
    &__images
        margin-top: 10px
        display: flex
        & > *
            width: 80px
            height: 80px
            margin-right: 30px
    &__bg
        width: 55%
        padding: 0 10px
        height: inherit
        background-image: url('../img/3.png')
        background-size: cover
        font-size: 1em
    &__text
        font-style: italic
        text-align: center
        margin-top: 100px
        font-size: 2.3em
        color: #fff
        text-shadow: 0 0 5px #FF2200, 0 0 6px #FF2200, 0 0 6px #FF2200, 0 0 40px #FF2200, 0 0 40px #FF2200, 0 0 30px #FF2200
        word-break: break-word
    &__settings
        height: inherit
        font-family: 'Montserrat'
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 40%
    &__input
        font-family: 'Montserrat'
        text-align: center
        padding: 20px 0
        border: solid $border-color 2px
        border-radius: 5px
        background-color: $black
        color: $white
        outline: none
        &::placeholder
            bac
            font-family: 'Montserrat'
            text-align: center
    &__cyrillic, &__latin
        display: flex
        flex-wrap: wrap
        padding: 10px
        border: solid $border-color 2px
        border-radius: 5px
        & > *
            margin: 3px
            margin-right: 20px
    &__size
        display: flex
        justify-content: space-between
        & > *
            padding: 10px
            border: solid $border-color 2px
            border-radius: 5px
            text-align: center
            width: fit-content
            cursor: pointer
    &__select, &__fontSelect
        font-family: 'Montserrat'
        padding: 10px
        border: solid $border-color 2px
        border-radius: 5px
        width: 55%
        color: $white
        outline: none
        background-color: $black
    &__fontSelect
        width: inherit
    &__latin
        display: none
        & > *
            cursor: pointer
    &__cyrillic
        & > *
            cursor: pointer
    &__fonts
        align-items: center
        display: flex
        justify-content: space-between
    &__buy
        margin-top: 20px
        font-size: 12px
        font-family: 'Montserrat'
        padding: 10px
        border: none
        border-radius: 5px
        background-color: $black
        color: $white
        padding: 11px 0
        width: 50%
        background: linear-gradient(73deg, rgba(2,0,36,1), 0%, #e81a13 0%, #e87a13 100%)
        box-shadow: 0 0 20px #e81a13
        outline: none
    &__small
        line-height: 23px
        font-size: 12px
    &__medium
        line-height: 23px
        font-size: 14px
    &__big
        line-height: 23px
        font-size: 18px
    &__bayshore
        font-size: 25px
        font-family: 'Bayshore'
    &__belovedScript
        font-family: 'Beloved Script'
    &__beloved
        font-size: 25px
        font-family: 'Beloved'
    &__furore
        font-size: 20px
        font-family: 'Furore'
    &__muller
        font-size: 20px
        font-family: 'Muller'
    &__neusa
        font-size: 20px
        font-family: 'Neusa'
    &__rocket
        font-size: 11px
        font-family: 'Rocket Clouds'
    &__sebastian
        font-size: 20px
        font-family: 'Sebastian'
    &__neontubes
        font-family: 'NeonTubes'
    &__moscowmetro
        font-family: 'moscowmetro'
    &__brewery
        font-family: 'brewery'
    &__barcelony
        font-family: 'barcelony'
    &__alcotton
        font-family: 'Alcotton'
    &__apex
        font-family: 'apex'
    &__gardens
        font-family: 'gardens'
    &__hamiltone
        font-family: 'hamiltone'
    &__kiona
        font-family: 'kiona'
    &__meritocracy
        font-family: 'meritocracy'
    &__Lamon
        font-family: 'Lamon'
    &__Neon
        font-family: 'Neon'
    &__Corinthia
        font-family: 'Corinthia'
    &__Volga
        font-family: 'Volga'
    &__Avante
        font-family: 'Avante'
    &__Scripticus
        font-family: 'Scripticus'
    &__EchoRevival
        font-family: 'EchoRevival'
